/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-texto-bloque {
	font-family:'Trebuchet MS';
}

@font-face {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	src: url("../assets/Foldit-VariableFont_wght.ttf");
	font-weight: 700;
}